<!DOCTYPE html>
<html lang="en">

<head>
    <title>KMUTT Bookstore management</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <a href="/">Home page</a> <br>
    <div class="search">
            <input id="search" type="text" name="search" value="<%= searchTerm %>" placeholder="Search...">
            <select name="catagory" id="catagory">
                <option value="">All Catagory</option>
                <option value="Education" <% if(catagory=="Education" ) {%> selected <% } %> >Education</option>
                <option value="Fantasy" <% if(catagory=="Fantasy" ) {%> selected <% } %> >Fantasy</option>
                <option value="Information Technology" <% if(catagory=="Information Technology" ) {%> selected <% } %> >Information Technology</option>
                <option value="Other..." <% if(catagory=="Other..." ) {%> selected <% } %> >Other...</option>
            </select>
            <button id="search_button">search</button>
    </div>
    <div id="result">
    </div>
</body>
<% include ../layouts/footerStaff.ejs %>

<script> 
        $( "#search_button" ).click(function() {
        var settings = {
            "url": "http://localhost:3000/books/filter",
            "method": "POST",
            "timeout": 0,
            "data": {
            "catagory": $("#catagory").val(),
            "search": $("#search").val()
        }
    };

    $.ajax(settings).done(function (response) {
        $('#result').empty();
    for (var i = 0; i < response.searchResult.length; i++){
        $('#result').append('<div>id: '+ response.searchResult[i].id +'</div>');
        $('#result').append('<div>name: '+ response.searchResult[i].name +'</div>');
        $('#result').append('<div>author: '+ response.searchResult[i].author +'</div>');
        $('#result').append('<div>price: '+ response.searchResult[i].price +'</div>');
        $('#result').append('<div>catagory: '+ response.searchResult[i].catagory +'</div>');
        $('#result').append('<br>');
        console.log(response.searchResult[i]);
    }
 
    });
    });
    
</script>

</html>