<!DOCTYPE html>
<html lang="en">

<head>
    <title>KMUTT Bookstore management</title>
</head>
<% include ../layouts/header.ejs %>
<body>
    <a href="/">Home page</a> <br>
    <div class="search">
            <input id="search" type="text" name="search" value="<%= searchTerm %>" placeholder="Search...">
            <select name="catagory" id="catagory">
                <option value="">All Catagory</option>
                <option value="Education" <% if(catagory=="Education" ) {%> selected <% } %> >Education</option>
                <option value="Fantasy" <% if(catagory=="Fantasy" ) {%> selected <% } %> >Fantasy</option>
                <option value="Information Technology" <% if(catagory=="Information Technology" ) {%> selected <% } %> >Information Technology</option>
                <option value="Other..." <% if(catagory=="Other..." ) {%> selected <% } %> >Other...</option>
            </select>
            <button id="search_button">search</button>
    </div>
    <div id="result">
    </div>
</body>
<% include ../layouts/footer.ejs %>

<script> 
        $( "#search_button" ).click(function() {
        var settings = {
            "url": "http://localhost:3000/books/filter",
            "method": "POST",
            "timeout": 0,
            "data": {
            "catagory": $("#catagory").val(),
            "search": $("#search").val()
        }
    };

    $.ajax(settings).done(function (response) {
        $('#result').empty();
    for (var i = 0; i < response.searchResult.length; i++){
        $('#result').append('<div>id: '+ response.searchResult[i].id +'</div>');
        $('#result').append('<div>name: '+ response.searchResult[i].name +'</div>');
        $('#result').append('<div>author: '+ response.searchResult[i].author +'</div>');
        $('#result').append('<div>price: '+ response.searchResult[i].price +'</div>');
        $('#result').append('<div>catagory: '+ response.searchResult[i].catagory +'</div>');
        $('#result').append('<br>');
        console.log(response.searchResult[i]);
    }
 
    });
    });
    
</script>

</html>