<!DOCTYPE html>
<html>

<head>
    <% include layouts/header.ejs %>
        <title> KMUTT Online BookStore </title>
</head>
<% include layouts/navbar.ejs %>

    <body>
        <h1>ขอบคุณสำหรับการสั่งซื้อของคุณ</h1>
        
        <% if(orderID==null) {%>
            <h3><%= message %></h3>
            <% } else { %>
                <h3>เลขรายการสั่งซื้อของคุณ <%= orderID %></h3>
                <% } %>
    </body>
    <% include layouts/footer.ejs %>


</html>