<!DOCTYPE html>
<html>

<head>
    <% include layouts/header.ejs %>
        <title> KMUTT Online BookStore </title>
</head>
<style>
    body{
            padding-top: 60px;
        }
</style>
<% include layouts/navbar.ejs %>

    <body>
        
        <% if(orderID==null) {%>
            <h3><%= message %></h3>
            <% } else { %>
                <h1 align="center">ขอบคุณสำหรับการสั่งซื้อของคุณ</h1>
                <h3 align="center">เลขรายการสั่งซื้อของคุณ <%= orderID %></h3>
                <% } %>
                <% include layouts/footer.ejs %>
    </body>
    


</html>