<!DOCTYPE html>
<html>
  <head>
    <title>KMUTT Online Bookstore</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="text-center">King Mongkut's University of Technology Thonburi</h1>
    <p>KMUTT Online Bookstore</p>
    <a href="/books">Admin Organization</a>
  </body>
</html>
