<!DOCTYPE html>
<html>
  <head>
    <title>KMUTT Online Bookstore</title>
   
  </head>
  <% include layouts/header.ejs %>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">King Mongkut's University of Technology Thonburi</h1>
        <p>KMUTT Online Bookstore</p>
      </div>
      <% if (user) { %>
        <img src="<%= user._json.picture %> " alt="<%= user.displayName %>">
        <h2>Hello, <%= user.displayName %>.</h2>
      <% } %>
      <a href="/books">Admin Organization</a> <br> <br>
      <a href="/auth/google">Signin</a>
    </div>
    
  </body>
  <% include layouts/footer.ejs %>
</html>
