<!DOCTYPE html>
<html>
  <head>
    <title>KMUTT Online Bookstore</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="grid-container">
      <header class="header">
        <img src="/public/stylesheets/pictures/KMUTT-LOGO-BLKV-sm_400x400.png" alt="KMUTT logo" />
        <div class="brand">
         <b>KMUTT Online Bookstore</b>
        </div>
        <div class="Homefeature">
          <a href="cart.html">ShoppingCart</a>
          <b> | </b>
          <a href="signin.html">Sign-in</a>
        </div>
      </header>
      <div class="main">
      <a href="/books">Admin Organization</a>
      </div>
      <footer class="footer">All right reserved ©</footer>
      test test test test
  </body>
</html>
