<!DOCTYPE html>
<html lang="en">

<head>
    <title>KMUTT Online Bookstore</title>
</head>
<style>
    body {
        padding-top: 50px;
        margin-top: 50px;
    }
</style>
<% include layouts/header.ejs %>
 
    <body>
        <% include layouts/navbar.ejs %>

        <% if(notify!=null) { %>
            <% for(let i=0; i < notify.length; i++) { %>
              Order Number : <%=notify[i].orderNumber%> <br>
                <%=notify[i].message%> <br>
                  <% } %>
                    <% } else { %>
                      Empty
                    <% } %>
        
        <br>
           
        <% include layouts/footer.ejs %>
    </body>
  
     

</html>