<!DOCTYPE html>
<html lang="en">

<head>
    <title>KMUTT Online Bookstore</title>
</head>
<style>
    body {
        padding-top: 10px;
    }
</style>
<% include layouts/header.ejs %>
 
    <body>
        <% include layouts/navbar.ejs %>

      Test Noti
           
    </body>
    <% include layouts/footer.ejs %>
     

</html>