<!DOCTYPE html>
<html lang="en">
<title>KMUTT Online Bookstore</title>

<% include layouts/header.ejs %>

    <body>
        <% include layouts/navbar.ejs %>

            <h4 class="text-center">ประวัติการสั่งซื้อของคุณ</h4>
            <% for(let i=0; i < orderbooks.length; i++) { %>
                <tr>
                    <th scope="row">
                        <b class="text-center">เลขคำสั่งซื้อของคุณ </b>
                        <%= orderbooks[i].order_id %> <br>
                    </th>
                    <td>
                        <b class="text-center"> ชื่อหนังสือ </b>
                        <%= orderbooks[i].book_name%> <br>
                    </td>
                    <td>
                        <b class="text-center">จำนวน</b>
                        <%= orderbooks[i].quantity %> <br>
                    </td>
                    <td>
                        <b class="text-center">ราคา</b>
                        <%= orderbooks[i].total_price %>
                    </td>
                </tr>
                <%}%>






    </body>
    <% include layouts/footer.ejs %>



</html>