.book {
  display: flex;
  flex-direction: column;
}

/* #google-signin, #google-signin-modal{
    width: 380px;
    border: 0px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: #f92020;
    color: #ffffff;
} */

#google-signin:hover, #google-signin-modal:hover{
    background-color: #f57777 !important;
 
}  

.shipAddress {
  border: 1px solid;
  padding: 10px;
}

.shipAddress-active {
border: 1px solid #bada55;

}